.text-erreur{
    color: rgb(241, 28, 28);
}

.text-success{
    color: rgb(18, 136, 14);
}

.bloc-form-histo{
    padding-top: 10px;
    background-color: rgb(236, 242, 252);
}

/* racourcie */
.btn-racourcie{
    margin: 1px 2px;
    padding: 2px 5px;
}
.bar-racourcie{
    position: fixed;
    bottom: 0;
    left: 10;
    margin: 5px;
    z-index: 1;
}