<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="#" class="font-weight-bold ml-1" target="_blank">Safe Corner</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <p>Created by:</p>
        </li>
        <li class="nav-item">
            <a href="https://web.facebook.com/randriambahiny1?ref=bookmarks" class="nav-link" target="_blank">Manohisoa R.</a>
          </li>
          <li class="nav-item">
              <a href="https://web.facebook.com/tahiana.ramanantseheno" class="nav-link" target="_blank">Tahiana R.</a>
            </li>
      </ul>
    </div>
  </div>
</footer>
