<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body"></div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- insert categorie societe -->
    <div class="row">
      <div class="col-xl-2 mb-3 mb-xl-0"></div>
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="text-back mb-0">Ajout Categorie société</h2>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item" >
                    <i [ngClass]="animationClass[0].iconActive" id="categorieSociete"  (click)="onAnimeBlocInsert($event)" ></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body" [ngClass]="animationClass[0].blocActive" >
            <form>
                <p class="text-erreur" *ngIf="messageErreurInsertCategorieSociete != ''" >{{messageErreurInsertCategorieSociete}}</p>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Descritpion</label
                      >
                      <input
                        type="text"
                        name="nom"
                        [(ngModel)]="descriptionInsertCategorieSociete"
                        class="form-control form-control-alternative"
                        placeholder="la decsritpion du categorie"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country"
                        >Validation</label
                      >
                      <button class="btn btn-primary form-control ">
                        VALIDER
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- insert categorie protocole -->
    <div class="row mt-3">
        <div class="col-xl-2 mb-3 mb-xl-0"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-back mb-0">Ajout Categorie protocole</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item" >
                      <i [ngClass]="animationClass[1].iconActive" id="categorieProtocole"  (click)="onAnimeBlocInsert($event)" ></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body" [ngClass]="animationClass[1].blocActive" >
              <form>
                <p class="text-erreur" *ngIf="messageErreurInsertCategorieProtocole != ''" >{{messageErreurInsertCategorieProtocole}}</p>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"
                          >Descritpion</label
                        >
                        <input
                          type="text"
                          name="nom"
                          [(ngModel)]="descriptionInsertCategorieProtocole"
                          class="form-control form-control-alternative"
                          placeholder="la decsritpion du categorie"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country"
                          >Validation</label
                        >
                        <button class="btn btn-primary form-control ">
                          VALIDER
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>    
    </div>
    <!-- Insert protocole -->
    <div class="row mt-3">
        <div class="col-xl-2 mb-3 mb-xl-0"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-back mb-0">Ajout protocole</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item" >
                      <i [ngClass]="animationClass[2].iconActive" id="Protocole"  (click)="onAnimeBlocInsert($event)" ></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body" [ngClass]="animationClass[2].blocActive" >
              <form>
                <p class="text-erreur" *ngIf="messageErreurInsertProtocole != ''" >{{messageErreurInsertProtocole}}</p>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"
                          >Nom</label
                        >
                        <input
                          type="text"
                          name="nom"
                          [(ngModel)]="nomProtocole"
                          class="form-control form-control-alternative"
                          placeholder="le nom du protocole"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country"
                          >Validation</label
                        >
                        <button class="btn btn-primary form-control ">
                          VALIDER
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Description -->
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea
                          rows="4"
                          name="descritpion"
                          [(ngModel)]="descriptionInsertProtocole"
                          class="form-control form-control-alternative"
                          placeholder="..."
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>    
    </div>
  </div>  