.note_NB{
    color: rgb(3, 192, 18);
}

.text-erreur{
    color: rgb(241, 28, 28);
}

/* animation bloc */
.bloc_form_insert{
    background: rgb(247, 251, 252);
    width: auto;
    height: auto;
}

.bloc_form_insert_active{
    height: auto;
    transition: transform .2s linear;
    transform: scaleY(1);
    transform-origin: top;
}

.bloc_form_insert_non_active{
    transition: transform .2s ease-in-out;
    transition: height .6s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    height: 0px;
}
.bloc_form_insert_non_active_initial{/*hi evitena anle animation am volou vo miditra amle page*/
  transform: scaleY(0);
  transform-origin: top;
  height: 0px;
}

/* animation icone */
.icon_activation_insert:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
}

/* .icon_add_coord:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
}

.icon_load:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
} */