.note_NB{
    color: rgb(3, 192, 18);
}

.text-erreur{
    color: rgb(241, 28, 28);
}

.text-success{
    color: rgb(18, 136, 14);
}

.rond {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(255, 123, 0);
}

/* racourcie */
.btn-racourcie{
    margin: 1px 2px;
    padding: 2px 5px;
}
.bar-racourcie{
    position: fixed;
    bottom: 0;
    left: 10;
    margin: 5px;
    z-index: 1;
}

/* animation bloc */
.bloc_form_insert_societe{
    background: rgb(247, 251, 252);
    width: auto;
    height: auto;
}

.bloc_form_insert_societe_active{
    height: auto;
    transition: transform .2s linear;
    transform: scaleY(1);
    transform-origin: top;
}

.bloc_form_insert_societe_non_active{
    transition: transform .2s ease-in-out;
    transition: height .6s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    height: 0px;
}
.bloc_form_insert_societe_non_active_initial{/*hi evitena anle animation am volou vo miditra amle page*/
  transform: scaleY(0);
  transform-origin: top;
  height: 0px;
}

/* proproete icon */
/* animation icone */
.icon_activation_insert_societe:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
}

.icon_add_coord_societe:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
}

.icon_load:hover {
    color: rgb(85, 139, 240);
    transform: scale(1.3);
    transition: transform .3s;
}

/* avertisement */
.avertissement {
    background-color: rgb(216, 20, 20);
    padding: 0px;
    color: white;
    height: 50px;
    z-index: 1;
}