<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body"></div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-2 mb-3 mb-xl-0"></div>
      <div class="col-xl-8 mb-3 mb-xl-0">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">List de protocoles</h6>
                <h2 class="text-back mb-0">La société de désinfection</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Nom</label
                      >
                     <h4>{{societeDesinfection.nom}}</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Email</label
                      >
                     <h4>{{societeDesinfection.email}}</h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"
                          >Lieu</label
                        >
                       <h4>{{societeDesinfection.lieu}}</h4>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username"
                            >Tel</label
                          >
                         <h4>{{societeDesinfection.tel}}</h4>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"
                          >Description</label
                        >
                       <h4>{{societeDesinfection.description}}</h4>
                      </div>
                    </div>
                  </div>
              </div>
           </div>
        </div>
      </div>
    </div>
    <!-- insert prestation -->
    <div class="row mt-3">
        <div class="col-xl-2 mb-1 mb-xl-0"></div>
        <div class="col-xl-8 mb-1 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-back mb-0">Ajout préstation</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item" >
                      <i [ngClass]="classIconActive" (click)="onAnimeBlocInsert()"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <mat-progress-bar *ngIf="loadingInsertPrestation" mode="query" color="primary"></mat-progress-bar>
            <div class="card-body" [ngClass]="classBloc" >
              <p class="text-erreur" *ngIf="erreur != ''">{{ erreur }}</p>
              <p class="text-success" *ngIf="success != ''">{{ success }}</p>
              <form  (ngSubmit)="onInsertPrestation(f)" #f="ngForm">
                <p class="text-erreur" *ngIf="1 != 0" ></p>
                <p class="text-success" *ngIf="1 != 0" ></p>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country"
                          >Prix</label
                        >
                        <input
                          type="number"
                          name="prix"
                          class="form-control form-control-alternative"
                          required
                          placeholder="Prix de la préstation"
                          [ngModel]="0"
                        />
                      </div>
                    </div>
                     <!-- Validation -->
                     <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country" 
                        >Validation</label>
                        <input type="submit" [disabled]="f.invalid" class="btn btn-primary form-control" value="Add"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Description -->
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country" 
                        >Description</label>
                        <textarea
                          rows="4"
                          name="descritpion"
                          class="form-control form-control-alternative"
                          required
                          placeholder="..."
                          ngModel
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- list prestation -->
    <div class="row mt-3">
      <div class="col-xl-2 mb-3 mb-xl-0"></div>
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">List de protocoles</h3>
              </div>
              <div class="col text-right">
            </div>
            </div>
          </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <mat-progress-bar *ngIf="loadingGetPrestation" mode="query" color="primary"></mat-progress-bar>
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">NOM</th>
                            <th scope="col">PRIX</th>
                            <th scope="col" class="text-center">DATE DE CREATION</th>
                            <th scope="col" class="text-center">DATE DE CREATION</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr >
                        <th>
                            dfsdf
                        </th>
                        <td>
                            blabla
                        </td>
                        <td>
                            20 jun 2020
                        </td>
                        <td>
                            <a
                            [routerLink]="['/modify-prestation',1]"
                            class="btn btn-sm btn-warning"
                            >Edit</a
                          >
                          <a style="color: white;"
                            class="btn btn-sm btn-danger"
                            >Delete</a
                          >
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>        
  </div>
  